* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
}
#main-video {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
}
div#app {
    background-color: black;
    height: 100%;
    width: 100%;
}