#seek-container {
    overflow: visible;
    position: absolute;
    top: 12px;
    border-radius: 100px;
    width: 100%;
    height: 10px;
    background-color: gray;
    z-index: 150;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#passed-line {
    z-index: 200;
    height: 100%;
    background-color: #b57300;
}
#seek-button {
    z-index: 250;
    position: absolute;
    height: 20px;
    width: 10px;
    border-radius: 100px;
    background-color: #ff4400;
}